html{
	height: 100%;
}
body {
  height: 100%;
}

.navbar-default{
	margin-bottom: 0;
	min-height: 40px;
}

.navbar-nav>li>a, .navbar-brand{
	padding: 10px 15px;
	line-height: 30px;
}

.starter-template {
	padding: 40px 15px;
}

.jumbotron.home{
	background: url("../images/coloringlives-bg.jpg") no-repeat 0 0;
	background-size: cover;
	height: 100%;
}

.jumbotron.home .container .objective{
	background: rgba(0,0,0,0.5);
	color: #fff;
	margin-top: 10px;
}

.jumbotron.home .container .objective .header{
	font-size: 35px;
}

.jumbotron.home .container .objective .subtitle{
	font-size: 20px;
	line-height: 25px;
}

.jumbotron.home .container .objective .btn-link{
	padding: 0;
	font-size: 20px;
	vertical-align: inherit;
	text-decoration: underline;
	color: whiteSmoke;
}

.jumbotron{
	margin-bottom: 0;
}

.jumbotron p{
	font-size: 16px;
}
.jumbotron.why, #manitham, #hasthinapuram, #uthiramerur{
	background: cadetblue;
	color: #fff;
}

.jumbotron.why a, #manitham a, #hasthinapuram a, #uthiramerur a{
	color: #fff;
	text-decoration: underline;
}

.jumbotron.who, .jumbotron.how{
	background:rgb(238,238,238);
}

#contactus{
  margin-top: 10px;
  margin-bottom: 10px;
}

#contactus .core-team{
	text-align: center;
	margin-top: 20px;
}

#contactus .core-team img{
	height: 150px;
}

#contactus .core-team label{
	display: block;
	font-size: 14px;
}

#contactus .core-team a{
	font-size: 14px;	
}

#contactus .core-team span{
	font-size:12px; 
}

#kumaran .btn-link{
  padding-left: 0;
  font-size: 15px;
  text-decoration: underline;
}

#kumaran img, #manitham img, #neduvasal img, #nallambakkam img, #hasthinapuram img, #uthiramerur img{
  height: 250px;
  width: auto;
  display: inline-block;
}

#nallambakkam img, #hasthinapuram img, #uthiramerur img{
	height: 225px;
}

#kumaran .content, #manitham .content, #neduvasal .content, #nallambakkam .content, #hasthinapuram .content, #uthiramerur .content{
  margin-top: 20px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}