html{
	height: 100%;
}
body {
  height: 100%;
}

.navbar-default{
	margin-bottom: 0;
}

.starter-template {
	padding: 40px 15px;
}

.jumbotron.home{
	background: url("../images/coloringlives-bg.jpg") no-repeat 0 0;
	background-size: 100%;
	height: 100%;
}

.jumbotron.home .container .objective{
	background: rgba(0,0,0,0.5);
	color: #fff;
}

.jumbotron.home .container .objective .header{
	font-size: 35px;
}

.jumbotron.home .container .objective .subtitle{
	font-size: 20px;
	line-height: 25px;
}

.jumbotron.home .container .objective .btn-link{
	padding: 0;
	font-size: 20px;
	vertical-align: inherit;
	text-decoration: underline;
	color: whiteSmoke;
}

.jumbotron{
	margin-bottom: 0;
}

.jumbotron.who p, .jumbotron.why p, .jumbotron.how p{
	font-size: 16px;
}
.jumbotron.why{
	background: cadetblue;
	color: #fff;
}

.jumbotron.who, .jumbotron.how{
	background:rgb(238,238,238);
}