html{
	height: 100%;
}
body {
  height: 100%;
}

.navbar-default{
	margin-bottom: 0;
	min-height: 40px;
}

.navbar-nav>li>a, .navbar-brand{
	padding: 10px 15px;
	line-height: 30px;
}

.starter-template {
	padding: 40px 15px;
}

.jumbotron.home{
	background: url("../images/coloringlives-bg.jpg") no-repeat 0 0;
	background-size: cover;
	height: 100%;
}

.jumbotron.home .container .objective{
	background: rgba(0,0,0,0.5);
	color: #fff;
	margin-top: 10px;
}

.jumbotron.home .container .objective .header{
	font-size: 35px;
}

.jumbotron.home .container .objective .subtitle{
	font-size: 20px;
	line-height: 25px;
}

.jumbotron.home .container .objective .btn-link{
	padding: 0;
	font-size: 20px;
	vertical-align: inherit;
	text-decoration: underline;
	color: whiteSmoke;
}

.jumbotron{
	margin-bottom: 0;
}

.jumbotron p{
	font-size: 16px;
}
.jumbotron.why, #neduvasal{
	background: cadetblue;
	color: #fff;
}

.jumbotron.why a, #neduvasal a{
	color: #fff;
	text-decoration: underline;
}

.jumbotron.who, .jumbotron.how{
	background:rgb(238,238,238);
}

#manitham .manitham-pic img{
	width: 400px;
	float: left;
	margin: 10px;
}

#neduvasal .neduvasal-pic img{
	width: 400px;
	float: right;
	margin: 10px;	
}